<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <h1>Edit Session</h1>
            <form action="/editSessionAdminSubmit" method="POST">
                <p>
                    <label>Old Session Name</label><br>
                    <input type="text" name="oldName" value="<%= oldNameSession %>" readonly>
                </p>
                <p>
                    <label>Session Name</label><br>
                    <input type="text" name="name" value="<%= session.name %>"required>
                </p>
                <p>
                    <label>Details</label><br>
                    <textarea name="details"></textarea required>
                </p>
                <p>
                    <label>Location</label><br>
                    <input type="text" name="location" value="<%= session.location %>" required>
                </p>
                <p>
                    <label>Start Time</label><br>
                    <input type="time" name="startTime" value="<%= session.startTime %>" required>
                </p>
                <p>
                    <label>End time</label><br>
                    <input type="time" name="endTime" value="<%= session.endTime %>" required>
                </p>
                <p>
                    <label>Day</label><br>
                    <select name="day" required>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                    </select>
                </p>
                <input type="submit" value="Edit Session">
            </form>
        </main>
    </body>
</html>