<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <h1>Edit Account</h1>
            <form action="/editAccountAdminSubmit" method="POST">
                <p>
                    <label>Old Email</label><br>
                    <input type="text" name="oldEmail" value="<%- email %>" required readonly="readonly">
                </p>
                <p>
                    <label>New Email</label><br>
                    <input type="text" name="email" value="<%- email %>" required>
                </p>
                <p>
                    <label>Password</label><br>
                    <input type="password" name="password" value="<%- password %>" required>
                </p>
                <p>
                    <label>Name</label><br>
                    <input type="text" name="name" value="<%- name %>" required>
                </p>
                <p>
                    <label>Date of Birth</label><br>
                    <input type="date" name="dateOfBirth" value="<%- dateOfBirth %>" required>
                </p>
                <p>
                    <label>Gender</label><br>
                    <select name="gender">
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Other</option>
                        <option value="4">Prefer Not To Say</option>
                    </select>
                </p>
                <p>
                    <label>Emergency Contact</label><br>
                    <input name="emergencyContactName" value="<%- emergencyContactName %>" placeholder="Name" required>
                    <input name="emergencyContactNumber" value="<%- emergencyContactNumber%>" placeholder="Phone Number" required>
                </p>
                <p>
                    <label>Postcode</label><br>
                    <input name="postcode" value="<%- postcode -%>" required>
                </p>
                <p>
                    <label>
                        <input type="checkbox" name="photoConsent" <%- photoConsent %>>
                        Photo Consent
                    </label>
                    <br>
                </p>
                <input type="submit" value="Save Changes">
            </form>
        </main>
    </body>
</html>