<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <p>
                <a href="/createsession"><button>Create Session</button></a>
            </p>
            
            <% sessions.forEach(function(p){ %> 
                <section>
                    <h3><%= p.name %></h3>
                    <h5><%= p.day %> <%= p.startTime %> - <%= p.endTime %></h5>
                    <p><%= p.details %></p>
                    <a href="/editSessionAdmin?name=<%= p.name %>"><button>Edit Session</button></a>
                </section>
            <% }) %>
        </main>
    </body>
</html>