<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>

    <body>
        <header>
            <%- include('../partials/header') %>
        </header>
        <main>
            <nav>
                <a href="/editAccount"><button>Edit Account Details</button></a>
                <a href="/logout"><Button>Logout</Button></a>
            </nav>
            <% sessions.forEach(function(p){ %>
                <section>
                    <h3><%= p.name %></h3>
                    <h5><%= p.day %> <%= p.startTime %> - <%= p.endTime %></h5>
                    <h5><%= p.location %></h5>
                    <p><%= p.details %></p>
                    <a href="/participantAttend?name=<%= p.name %>"><button>Attend</button></a>
                </section>
            <% }) %>
        </main>
    </body>
</html>